<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <!--link rel="shortcut icon" th:href="@{images/favicon.png}"/-->
    <title>Beer Next Door</title>
</head>
<body>
<header class="header-template">
    <img/>
    <a th:href="@{/login}">To Login</a>
</header>
<div class="main-template-title">
    <h1 class="title">Beer Next Door</h1>
    <section class="summary">blablabla</section>
    <div class="goTo">
        <a th:href="@{/sign-up}">GO to signUp</a>
        <a th:href="@{/login}">Go to Login</a>
    </div>

</div>
<footer class="footer-template">

</footer>
</body>
</html>