<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <!--link rel="shortcut icon" th:href="@{images/favicon.png}"/-->
    <title>Beer Next Door</title>
</head>
<body>
<header class="header-template">
    <div class="header3"><img class="logo" th:attr="src=@{/images/beer-next-door.png}"/></div>
</header>
<div class="main-template-title">
    <h1 class="title">Beer Next Door</h1>
    <section class="summary">
        Beer Next Door allows you to find craft beers you like, where you are, now ! <br/>
        Browse the app, add your favorites, and directly see if you can buy them in your direct vicinity.<br/>
        Find the perfect store or just the one that suits your taste... and share your prefered beer shelf with others!
    </section>
    <div class="goTo">
        <div><a th:href="@{/sign-up}">Sign up</a></div>
        <div><a th:href="@{/login}">Log in</a></div>
    </div>

</div>
<footer class="footer-template">

</footer>
</body>
</html>