<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://unpkg.com/leaflet@1.6.0/dist/leaflet.css}"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script th:src="@{https://unpkg.com/leaflet@1.6.0/dist/leaflet.js}"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script th:src="@{https://unpkg.com/leaflet-geosearch@2.2.0/dist/bundle.min.js}"></script>
    <title>Beer Next Door</title>
</head>
<body>
<header class="header-template">
    <a th:href="@{/user-profile}">Profil</a>
    <img/>
    <a th:href="@{/logout}">Log Out</a>
</header>
<div class="main-page-template">
    <div class="map-search">
        <div class="leaflet" id="map">
        </div>
    </div>
    <div class="search">
        <form>
            <label>Chercher par type de bière</label>
            <select></select>
            <input type="submit" value="Go"/>
        </form>
        <form>
            <label>Chercher par brasserie</label>
            <select></select>
            <input type="submit" value="Go"/>
        </form>
    </div>
</div>
<footer class="footer-template">

</footer>
<script>
    let mymap = L.map('map').locate({setView: true, maxZoom: 16});

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 16,
        id: 'mapbox/streets-v11',
        accessToken: 'pk.eyJ1IjoiYm9icmF5ZWRlbiIsImEiOiJjazV6ajk4YmUxZmY1M2xydnI4dWk2bG5mIn0.TjX5W6cvHiO4B1NoXr0WqQ'
    }).addTo(mymap);

    let latlng = navigator.geolocation.getCurrentPosition();
    const marker = L.marker(latlng).addTo(mymap);



</script>
</body>
</html>