<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://unpkg.com/leaflet@1.6.0/dist/leaflet.css}"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script th:src="@{https://unpkg.com/leaflet@1.6.0/dist/leaflet.js}"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script th:src="@{https://unpkg.com/leaflet-geosearch@2.2.0/dist/bundle.min.js}"></script>
    <title>Beer Next Door</title>
</head>
<body>
<header class="header-template">
    <a class="header2" th:href="@{/user-profile}">Profile</a>
    <div class="header3"><img class="logo" th:attr="src=@{/images/beer-next-door.png}"/></div>
    <a class="header4" th:href="@{/logout}">Log Out</a>
</header>
<div class="main-page-template">
    <div class="map-search">
        <div class="leaflet" id="map">
        </div>
    </div>
    <div class="search">
        <form th:action="@{search-beer}" method="get">
            <label for="idBeer">Search by beer name</label>
            <select id="idBeer" name="idBeer">
                <option selected value="0">Choose a beer</option>
                <option th:each="beer : ${beers}"
                        th:value="${beer.getIdBeer()}"
                        th:text="${beer.getNameBeer()}">
                </option>
            </select>
            <input type="submit" value="Go"/>
        </form>
        <form th:action="@{search-type}" method="get">
            <label for="idType">Search by beer type</label>
            <select id="idType" name="idType">
                <option selected value="0">Choose a beer type</option>
                <option th:each="type : ${types}"
                        th:value="${type.getIdType()}"
                        th:text="${type.getNameType()}">
                </option>
            </select>
            <input type="submit" value="Go"/>
        </form>
        <form th:action="@{search-brewery}" method="get">
            <label for="idBrand">Search by brewery</label>
            <select id="idBrand" name="idBrand">
                <option selected value="0">Choose a brewery</option>
                <option th:each="brand : ${brands}"
                        th:value="${brand.getIdBrand()}"
                        th:text="${brand.getNameBrand()}">
                </option>
            </select>
            <input type="submit" value="Go"/>
        </form>
    </div>
    <div class="results">
        <h3>Results:</h3>
        <ul th:each="store : ${storeResults}">
            <li th:text="${store.getNameStore()}"></li>
            <li th:text="${store.getAddress()}"></li>
        </ul>
    </div>
</div>
<footer class="footer-template">

</footer>
<script th:inline="javascript">
    /*<![CDATA[*/

    let LeafIcon = L.Icon.extend({
        options: {
            iconSize: [25, 40],
            iconAnchor: [12, 40],
            popupAnchor: [1, -45]
        }
    });

    const templeIcon = new LeafIcon({iconUrl: '/images/pin-temple.png'});
    const hopIcon = new LeafIcon({iconUrl: '/images/pin-hop.png'});

    let mymap = L.map('map').locate({setView: true, maxZoom: 16});

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 16,
        id: 'mapbox/streets-v11',
        accessToken: 'pk.eyJ1IjoiYm9icmF5ZWRlbiIsImEiOiJjazV6ajk4YmUxZmY1M2xydnI4dWk2bG5mIn0.TjX5W6cvHiO4B1NoXr0WqQ'
    }).addTo(mymap);

    let jsonStoreList = [# th:utext="${storeJson}"/];
    jsonStoreList.forEach(store => {store.temple ?
        L.marker(store.coord, {icon: templeIcon}).addTo(mymap).bindPopup('' + store.nameStore + " \n " + store.address).openPopup() :
        L.marker(store.coord, {icon: hopIcon}).addTo(mymap).bindPopup('' + store.nameStore + " \n " + store.address).openPopup()});

    /*]]>*/
</script>
</body>
</html>