<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Olivier Nocaudie">
    <meta name="description" content="Beer Next Door">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Beer Next Door - Profile</title>
</head>
<body>
<header class="header-template">
    <a class="header2" th:href="@{/main-page}">Search</a>
    <div class="header3"><img class="logo" th:attr="src=@{/images/beer-next-door.png}"/></div>
    <a class="header4" th:href="@{/logout}">Log Out</a>
</header>
<div class="profile-page-template">
    <div class="user-info">
        <h3>Your account log infos</h3>
        <form class="form-login" th:action="@{/post-profile}" method="post" th:object="${user}">
            <input type="hidden" name="userId" th:field="*{idUser}"/>
            <label th:for="nameUser">User name</label>
            <input type="text" th:field="*{nameUser}"/>
            <label th:for="email">Email</label>
            <input type="text" th:field="*{email}"/>
            <label th:for="password">Password</label>
            <input type="password" th:field="*{password}"/>
            <input class="submit-button" type="submit" value="Modify"/>
        </form>
    </div>
    <div class="user-fav-beers profile-fav">
        <h3>Your beloved beers</h3>
        <form class="" th:action="@{/post-beer}" method="post">
            <label for="idBeer">Add a favorite beer</label>
            <select id="idBeer" name="idBeer">
                <option selected value="0">Choose a beer</option>
                <option th:each="beer : ${beers}"
                        th:value="${beer.getIdBeer()}"
                        th:text="${beer.getNameBeer()}">
                </option>
            </select>
            <input type="submit" value="Add Beer"/>
        </form>
        <h4>Favorite Beers :</h4>
        <ul th:each="beer : ${userBeers}">
            <li th:text="${beer.getNameBeer()}"></li>
        </ul>
    </div>
    <div class="user-fav-types profile-fav">
        <h3>Your favorite beer types</h3>
        <form th:action="@{/post-type}" method="post">
            <label for="idType">Add a favorite beer's type</label>
            <select id="idType" name="idType">
                <option selected value="0">Choose a type</option>
                <option th:each="type : ${types}"
                        th:value="${type.getIdType()}"
                        th:text="${type.getNameType()}">
                </option>
            </select>
            <input type="submit" value="Add Type"/>
        </form>
        <h4>Favorite Types of Beer : </h4>
        <ul th:each="type : ${userTypes}">
            <li th:text="${type.getNameType()}"></li>
        </ul>
    </div>
</div>
<footer class="footer-template">

</footer>

</body>
</html>